.jsUpd-text(class="jsUpd-text-"+field, data-key=field) #{fieldDesp}:
span.text-info.jsUpd-span(class="jsUpd-span-"+field, data-key=field) #{object[field]}
input.form-control(class="jsUpd-org-"+field, type="hidden", value=object[field])
input.jsUpd-ipt.form-control(class="jsUpd-ipt-"+field, style="display:none", type="text", data-type=type, data-id=object._id, data-url=getUrl, data-key=field, value=object[field])
if type == "color"
	-a;
	.color.border(class="jsColor-"+field+"-"+object._id, style="width: 100px; height: 30px; background-color: #"+object[field])