extends ../aalayout/layout

block content
	.js-browserWidth-pc
		- let pcVideo = navdb.bgMovie;
		include ../aaElement/bgvideoBox
		//- video(width="100%" controls)
		//- 	source(src=navdb.bgMovie type="video/mp4")
		- let headerColor = "000000";
		if navdb.headerColor
			- headerColor = navdb.headerColor;
		.js-browserHeight-half.px-5(style="color: #"+headerColor+";")
			.js-browserHeight-quarter
				div(style="height: 80px")
				h1(style="font-size: 60px;") HLT
			.mx-5
				h1 #{navdb.headerFir}
				h1.m-5 #{navdb.headerSec}

		.bg-white.border.px-5(style="min-height: 600px;")
			div(style="height: 50px")

			if navdb.despTitle
				- a;
				div(style="height: 50px")
				.container-fluid
					.row
						.col-3(style="color: #1E90FF;")
							h2 #{navdb.despTitle}
						.col-9
							div #{navdb.despFir}
							.mt-5 #{navdb.despSec}
				div(style="height: 50px")
				hr

			if subsTable && subsTable.length > 0
				- bgSubsTableColor = "F0F0F0";
				if navdb.bgSubsTableColor
					- bgSubsTableColor = navdb.bgSubsTableColor;
				div(style="height: 50px")
				.container
					h2 #{navdb.titleSubs} &rarr;

					table.table.table-bordered(style="background-color: #"+bgSubsTableColor+";")
						- let iRow = 0;
						each subsTr in subsTable
							- iRow++;
							- let borderBottom = "css-border-b";
							if iRow == subsTable.length
								- borderBottom = "";

							tr(style="height: 200px")
								- let iCol = 0;
								each sub in subsTr
									- iCol++;
									- let borderRight = "css-border-r";
									if iCol == 3
										- borderRight = "";

									td(class=borderBottom+" td-js-card "+borderRight style="width: 33.33%")
										.rounded.py-1.mb-5
											h3 #{sub.cn}
										img.css-img-neat(src=sub.photo, width="15%" height="80px")
				div(style="height: 50px")
				hr

			if navdb.isShowSupport == 1
				-a;
				div(style="height: 50px")
				.container-fluid
					.row.text-center
						.col-2
							h1 HLT支持
						if navdb.photoSpt1
							-a;
							.col-2
								img.css-img-neat(src=navdb.photoSpt1, width="100%" height="80px")
								.rounded.py-1.mt-5
									h4 #{navdb.titleSpt1}
									p.text-left #{navdb.despSpt1}
						if navdb.photoSpt2
							-a;
							.col-2
								img.css-img-neat(src=navdb.photoSpt2, width="100%" height="80px")
								.rounded.py-1.mt-5
									h4 #{navdb.titleSpt2}
									p.text-left #{navdb.despSpt2}
						if navdb.photoSpt3
							-a;
							.col-2
								img.css-img-neat(src=navdb.photoSpt3, width="100%" height="80px")
								.rounded.py-1.mt-5
									h4 #{navdb.titleSpt3}
									p.text-left #{navdb.despSpt3}
						if navdb.photoSpt4
							-a;
							.col-2
								img.css-img-neat(src=navdb.photoSpt4, width="100%" height="80px")
								.rounded.py-1.mt-5
									h4 #{navdb.titleSpt4}
									p.text-left #{navdb.despSpt4}

			div(style="height: 100px")
	//- .js-browserWidth-mb
		.container-fluid
			h1 navdb Mobil

	script(src="/js/index/navdb.js")

