div(style="height: 50px")
.container-fluid
	.row.px-5
		.col-3(style="color: #1E90FF;")
			h2 #{navdb.intr}
		.col-9
			h4 #{navdb.intrtitle1}
			p #{navdb.intrdesp1}
			h4 #{navdb.intrtitle2}
			p #{navdb.intrdesp2}
			h4 #{navdb.intrtitle3}
			p #{navdb.intrdesp3}
			h4 #{navdb.intrtitle4}
			p #{navdb.intrdesp4}
div(style="height: 50px")
hr